nav(class="navbar navbar-default navbar-static-top top-nav" role="navigation")
  .container
    .navbar-header
      button(class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#top-nav-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/") htmllint
    #top-nav-collapse.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li: a(href="/demo.html") Demo
        li: a(href="https://github.com/htmllint/htmllint/wiki") Docs
        li: a(href="https://github.com/htmllint/htmllint") Source
