extends ./partials/layout.jade

block title
  title htmllint - demo

block content
  .container
    .row
      .col-xs-6
        #editor
      .col-xs-6
        #issue-list

block bottom
  script(src="http://fb.me/react-0.11.2.js")
  script(src="//cdn.jsdelivr.net/ace/1.1.7/min/ace.js")
  script(src="/js/demo.js")