extends ./partials/layout.jade

block title
  title htmllint - demo

block content
  .container.content
    .row
      .col-md-6
        .editor.panel(class="panel-default")
          .panel-body: #editor
      .col-md-6
        .issue-list.panel(class="panel-default")
          .panel-heading
            h3.panel-title Issues
          #issue-list.panel-body

block bottom
  script(src="http://fb.me/react-0.11.2.js")
  script(src="//cdn.jsdelivr.net/ace/1.1.7/min/ace.js")
  script(src="/js/demo.js")